<div class="container">
  <h1>Info from github on <%= @repo %> repo</h1>
  <h3>Number of Commits for repo: <%= @count %></h3>
  <h3>Last commit description: <%= @commit_message %></h3>
  <h3>Last commit date/time: <%= @date_time %></h3>

    



</div>
